# Assignment 1
assignment1/bodyMassIndex
assignment1/determineLocation
assignment1/equationStraightLine
assignment1/letterOrDigit

# Assignment 2
assignment2/circularLeftShift
assignment2/classification
assignment2/fibonacciSequence
assignment2/optimization

# Assignment 3
assignment3/areaCalculator
assignment3/BMIDatabase
assignment3/examScore

# Assignment 4
assignment4/expenseManager
assignment4/pointerExercise

# Assignment 5
